<div class="panel panel-info">
<div class="panel-heading">
        {{blog.id}}<br>
        {{blog.blogTitle}}<br>
        <b>Posted On: </b> {{blog.postedOn | date:'medium'}} <br>
		<b>Posted By: </b> {{blog.postedBy.firstname}} &nbsp; {{blog.postedBy.lastname}}<br>
      </div>
  <div class="panel-body">
 <p ng-bind-html="content"></p>
</div>
</div>
<!-- Approve-update blogpost set approved=1 where id=? -->
<!-- Reject- delete from blogpost where id=? -->
<button type="button" class="btn btn-primary" ng-click="approve(blog)" ng-hide="rejectionTxt">Approve</button>
<button type="button" class="btn btn-warning" ng-click="showRejectionTxt()" ng-hide="rejectionTxt">Reject</button>
   <div ng-show="rejectionTxt">Rejection Reason<br>
 <textarea ng-model="rejectionReason" required></textarea>
	<button type="button" class="btn btn-warning" ng-click="reject(blog)">Submit</button>
</div>
