
{{error.message}}
<form action>





	<div class="form-group">
		Enter Email Id:<input type="text" ng-model="user.emails"  disabled 
			class="form-control">
	</div>
	
		<div class="form-group">
		Enter password:<input type="password" ng-model="user.password" class="form-control">
	</div>
	


	<div class="form-group">
		Enter Firstname:<input type="text" ng-model="user.firstname"  
		class="form-control">
	</div>

	<div class="form-group">
		Enter Lastname:<input type="text" ng-model="user.lastname" 
			class="form-control">
	</div>

	<div class="form-group">
		Enter Phonenumber:<input type="text" ng-model="user.phonenumber" 
			class="form-control">
	</div>




	<div class="form-group">
		Select ROLE<select ng-model="user.role">
			<option value="STUDENT">student
			<option value="EMPLOYEE">Employee
			<option value="ALUMNI">Alumni
		</select>
	</div>
	<input type="submit" ng-click="updateUser(user)" value="Edit Profile">

</form>



