<div class="container">
	<div class="row" style:width="600px">
		<div class="panel panel-default">
		</div>
			<div class="panel-heading">
			{{job.jobTitle}}</div>
			<div class="panel-body">
				<b>Job Description</b> : {{job.jobDescription}}<br> 
				<b>SkillsRequired</b> : {{job.skillsRequired}}<br> 
				<b>Location</b>  : {{job.location}}<br>
				 <b>Years ofExp</b> : {{job.yrsOfExp}}<br>
				<b>Company Name</b> : {{job.companyName}}<br> 
				<b>Salary</b>: {{job.salary}}<br> 
				<b>Posted On</b> : {{job.postedOn |date:'medium'}}<br>
                </div>
	             </div>
	             </div>
	             
       <a href="#/alljobs">Back to previous page>Get All Jobs</a>