<div class="panel-panel-default">

<div class="panel-heading">

<b>Friend Requests</b>

</div>
<div class="panel-body">
<span ng-if="pendingRequests.length==0"><b>No pending requests</b></span>
<ul style="list-style:  none">
<!-- pendingRequests-List<Friend> -->
<!-- requests is of type friend -->
<!-- request has id,fromId,toId,status -->
<!-- from id is user object has email,firstsname,lastname,phonenumber,role,online -->
<li ng-repeat="request in pendingRequests">
<b>{{request.fromId.email}}</b>  <br>
<b>{{request.fromId.firstname}}</b>  <br>
<b>{{request.fromId.phonenumber}}</b>  <br>
<img src="http://localhost:8091/ScocialNetworksMiddle/getimage/{{request.fromId.email}}" alt="No image" height="50px" width="30px">
<br>
<button type="button" class="btn-btn-primary" ng-click="acceptRequest(request)">Accept</button>
<button type="button" class="btn-btn-warning" ng-click="deleteRequest(request)">Delete</button>

</li>
<hr>
</ul>
</div>


</div>