{{error.message}}
<form >

	<div class="form-group">
		Enter Firstname:<input type="firstname" ng-model="user.firstname"
			class="form-control">
	</div>

	<div class="form-group">
		Enter Lastname:<input type="lastname" ng-model="user.lastname"
			class="form-control">
	</div>

	<div class="form-group">
		Enter Phonenumber:<input type="lastname" ng-model="user.phonenumber"
			class="form-control">
	</div>


	<div class="form-group">
		Enter Email Id:<input type="email" ng-model="user.emails"
			class="form-control">
	</div>


	<div class="form-group">
		Enter password:<input type="password" ng-model="user.password"
			class="form-control">
	</div>
	<div class="form-group">
		<select ng-model="user.role">
			<option value="STUDENT">student
			<option value="EMPLOYEE">Employee
			<option value="ALUMNI">Alumni
		</select>
	</div>
	<input type="submit" ng-click="registerUser(user)" value="Register">

</form>


