<span ng-if="suggestedUsers.lenght==0"><b>No suggested users</b></span>
<table class="table table-striped">
	<!-- user is an object of typr  User  -->
	<tr ng-repeat="user in suggestedUsers">
		<td>{{user.emails}}<br>
		 {{user.firstname}} &nbsp;{{user.lastname}} <br> 
	    <B>Phone Number</B> {{user.phonenumber}}
		</td>
		<td><img src="http://localhost:8091/ScocialNetworksMiddle/getimage/{{user.email}}"
			alt="No image" height="50px" width="100px"></td>
		<td>
		<!-- value for toId property -->
			<button type="button" class= "button-button-primary" ng-click="addFriend(user)">Add Friend</button>
		</td>
	</tr>
</table>